# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Dotnet-specific files
*.vs/
*.DS_Store

# NuGet packages
*.nupkg
packages/
.nuget/

# Logs
*.log

# Temporary files
*.tmp
*.temp
